# Copyright (c) 2021 Nick Winans
# SPDX-License-Identifier: MIT

if BOARD_HNKB40

config ZMK_KEYBOARD_NAME
    default "hnkb40"

# Only provide defaults for standard Zephyr/ZMK symbols that have prompts
config SPI
    default y

config ZMK_GPIO_595
    default y

if USB_DEVICE_STACK
config USB_NRFX
    default y
endif

config BT_CTLR
    default y

config ZMK_SLEEP
    default y

endif # BOARD_HNKB40