# Copyright (c) 2021 Nick Winans
# SPDX-License-Identifier: MIT

if BOARD_HNKB40

config ZMK_KEYBOARD_NAME
    default "hnkb40"

# This enables the core ZMK logic for the board
config ZMK
    bool
    default y

# Enable the 595 shift register GPIO driver
config GPIO_595
    default y

config SPI
    default y

if USB_DEVICE_STACK
config USB_NRFX
    default y
endif

endif # BOARD_HNKB40