# Copyright (c) 2021 Nick Winans
# SPDX-License-Identifier: MIT

if BOARD_HNKB40

config ZMK_KEYBOARD_NAME
    default "hnkb40"

# Standard ZMK/Zephyr symbols already have types defined in the source.
# We only provide the default value here.
config SPI
    default y

if USB_DEVICE_STACK
config USB_NRFX
    default y
endif

config BT_CTLR
    default y

endif # BOARD_HNKB40